{% extends "base.html" %}

{% block content %}
<h2 class="text-center mb-4">Monthly Spending</h2>

{% if totals %}
    <div class="row">
        {% for month, total in totals.items() %}
            <div class="col-md-4">
                <div class="card p-3 mb-3 shadow-sm">
                    <h5>{{ month }}</h5>
                    <p>Total: ₹{{ "%.2f"|format(total) }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p class="text-center">No data available</p>
{% endif %}
{% endblock %}