{% extends "base.html" %}

{% block content %}
<h2 class="text-center mb-4">Category Summary</h2>

{% if summary %}
    <div class="row">
        {% for category, amount in summary.items() %}
            <div class="col-md-4">
                <div class="card p-3 mb-3 shadow-sm">
                    <h5>{{ category }}</h5>
                    <p>Total: ₹{{ "%.2f"|format(amount) }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p class="text-center">No data available</p>
{% endif %}
{% endblock %}